@model GameGrid.Models.DBObject

@{
    ViewBag.Title = "Game Grid - Details";
}

@*<h2>
    @Html.DisplayFor(model => (model as GameGrid.Models.Game).Name)
</h2>*@

@{
    Type type = Model.GetType();
} 

<div>
    <hr />
    <dl class="dl-horizontal">

        @*@{
            foreach (System.Reflection.PropertyInfo pi in type.GetProperties())
            {
                <dt>
                    @Html.DisplayNameFor(model => pi.GetValue(model));
                </dt>

                <dd>
                    @Html.DisplayFor(model => pi.GetValue(model))
                </dd>
            }
        }}*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
