@model IEnumerable<GameGrid.Models.Game>

@{
    ViewBag.Title = "Game Grid";
}

<p> </p>

<style>
    .header {
        white-space: nowrap;
        padding-left: 10px;
    }
</style>

@{ 
    object OnSearch()
    {

        return new object();
    }
}

<div class="header">
    <button onclick="@OnSearch()">Search</button>
</div>

<p> </p>

@*<select id="columns" multiple>
            <option value="Name">Name</option>
            <option value="System">System</option>
            <option value="Genre">Genre</option>
            <option value="Developer">Developer</option>
            <option value="Publisher">Publisher</option>
    </select>*@

<style>
    .grid {
        white-space: nowrap;
        margin-left: 0;
        padding-left: 0;
    }
</style>

<div class="grid">

    @{
        Type type = new GameGrid.Models.Game().GetType();

        if (type != null)
        {
            foreach (System.Reflection.PropertyInfo pi in type.GetProperties())
            {
                <input size=@(pi.Name.Length - 1)>
            }
        }
    }

</div>

<table class="table">

    <tr>
        @{
            if (type != null)
            {
                foreach (System.Reflection.PropertyInfo pi in type.GetProperties())
                {
                    <th size="@pi.Name.Length">@pi.Name</th>
                }
            }
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            @{
                if (type != null)
                {
                    foreach (System.Reflection.PropertyInfo pi in type.GetProperties())
                    {
                        object val = pi.GetValue(item);

                        if (val == null)
                        {
                            <td></td>
                            continue;
                        }

                        string value = val.ToString();
                        if (value.Length > 50)
                        {
                            value = value.Remove(50);
                        }

                        <td nowrap>@value</td>
                    }
                }
            }

            <td>
                @Html.ActionLink("Details", "Details", new { name = item.Name }) |
                @Html.ActionLink("Edit", "Edit", new { name = item.Name })
            </td>
        </tr>
    }

</table>
